<p id="notice"><%= notice %></p>

<h1> The need </h1>
<p class="need">People around age 18 lose access to valuable resources. This is a collaborative database to collect resources sourced anonymously.</p>

<h1>Help Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Help name</th>
      <th>Help phone</th>
      <th>Description</th>
      <th>website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @help_sources.each do |help_source| %>
      <tr>
        <td><%= help_source.help_name %></td>
        <td><a href="tel:<%= help_source.help_phone %>"><%= help_source.help_phone %></a></td>
        <td><%= help_source.description %></td>
        <td><a href="<%= help_source.website %>"><%= help_source.website %></a></td>
        <td><%= link_to 'Show', help_source %></td>
        <td><%= link_to 'Edit', edit_help_source_path(help_source) %></td>
        <td><%= link_to 'Destroy', help_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1> <%= link_to 'Give us your two cents! Add something you think is helpful in a crisis here.', new_help_source_path %> </h1>

<br>


<h1> Fill out anonymous questionairre to get tailored advice </h1>
<h2> All fields optional </h2>
<form onsubmit="(function(){checkResponseTime($('#zip').val()); checkOpioidPop($('#age').val()); return false;})(); return false;">
  <label for="zip">Enter Zip: </label>
  <input type="text" name="zip" id="zip">
  <label for="age">Enter Age: </label>
  <input type="text" name="age" id="age">
  <input type="submit" value="Update">
</form>


<h1> 911 response time in 2016 was on average <span class="num" id="time"> click update </span> minutes. </h1>
<h2> In an emergency minutes seem like hours. This will help you set realistic expectations. </h2>
<br>
<h1> Start your own support group! </h1>
<h2> There were <span class="num" id="opioidNum"> click update </span> opioid prescriptions in the <span class="num" id="opioidAge"> click update </span> age group in Marin in December of 2016. Consider starting a support group! There will be people. </h2>
<h1> Or find an existing one! List of locations:</h1>
<h2> To be implemented. </h2>
